.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    &_logo{
        width: 122px;
        height: 39.444px;
        flex-shrink: 0;
        margin:66px 0px 5px;
    }
    &_infosLegales{
        display: flex;
        color: #FFF;
        text-align: center;
        font-family: $main-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 29px;
        @media screen and (max-width: 768px) {
            font-size: 12px;
            width: 133px;
        }
    }
}



